<div class="root">
    <header class="header">
        <mat-toolbar class="toolbar" color="primary">
            <a href="">Web Store</a>
            <div class="toolbar-right-buttons">
                <button mat-icon-button (click)="openLoginMenu()">
                    <span class="material-icons">person</span>
                </button>
                <button mat-icon-button class="cart-button" (click)="
                    isAuthenticated
                    ? redirectToCartPage() 
                    : openLoginMenu() ">
                    <span class="material-icons">shopping_cart</span>
                    <span class="items-in-cart-amount" *ngIf="itemsInCartAmount > 0">{{itemsInCartAmount}}</span>
                </button>
            </div>
        </mat-toolbar>
    </header>

    <body class="wrapper">
        <router-outlet></router-outlet>
    </body>
</div>