<div class="cart-container">
    <div *ngFor=" let products of productTypes">
        <store-cart-product [typeProducts]="products" [userAuthData]="userAuthData"></store-cart-product>
    </div>
    <div class="w-full flex flex-row gap-x-3 justify-end items-center p-2">
        <div class="text-2xl font-bold text-gray-900 dark:text-white">Total: ${{totalPrice}}</div>
        <button
            class="items-center px-6 py-2 text-lg font-normal text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Buy All
        </button>
    </div>
</div>